body {
    margin: 0;
    padding: 0;
    background-color: #333;
}

.gameWindow {
    display: block;
    padding: 0;
    margin: 0 auto;
    width: 100vh;
}

canvas {
    display: block;
    margin: auto;
    border: 2px solid black;
}

.title {
    margin-top: 10px;
    text-align: center;
    color: white;
    /* text-transform: uppercase; */
    font-family: 'Ubuntu';
}